/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # DEBUG */
.debug {
  background-color: aqua;
  border: 1px dashed black;
  padding: 5px;
}

.debug .debug {
  background-color: blue;
}

.debug .debug .debug {
  background-color: lightpink;
}

.debug .debug .debug .debug {
  background-color: lightgreen;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* HEADER */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-item {
  display: inline-block;
}

.header-logo,
.header-login {
  flex: 0 0 150px;
  max-width: 100%;
}

.header-login {
  display: flex;
  justify-content: flex-end;
}

.header-nav {
  display: flex;
  justify-content: center;
  flex: 1 0 200px;
}
