/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # DEBUG */
.debug {
  background-color: aqua;
  border: 1px dashed black;
}

.debug .debug {
  background-color: blue;
}

.debug .debug .debug {
  background-color: lightpink;
}

.debug .debug .debug .debug {
  background-color: lightgreen;
}

/* # UTILS */

.container {
  margin: 5px auto;
  padding: 0 0px;
  width: 1000px;
  max-width: 100%;
}

.container-small {
  height: 200px;
  width: 800px;
  max-width: 100%;
  margin: 20px auto;
}

/* HEADER */

.site-header-background {
  background-color: aqua;
  height: 50px;
  display: flex;
  align-items: center;
}

.site-header {
  background-color: blueviolet;
  border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-item {
  display: inline-block;
}

.header-logo,
.header-login {
  flex: 0 0 150px;
  max-width: 100%;
}

.header-login {
  display: flex;
  justify-content: flex-end;
}

.header-nav {
  display: flex;
  justify-content: center;
  flex: 1 0 200px;
}

/* # MAIN */

.section-one {
  background-color: blue;
  padding: 10px 0;
  border: 1px dashed black;
}

.section-one-content {
  background-color: magenta;
  border: 1px dashed black;
}
